@font-face {
    font-family:site-font;
    src: url(../fonts/Premier\ Sans.ttf);
  }

body {
    padding: 0;
    margin: 0;
    /* font-family: site-font; */
    font-family: "PremierSans-Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
max-width: 1440px;
padding: 0 20px;
margin: 0 auto;
}
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background-color: #37003c;
    padding: 0 5%;

}
nav .logo { 
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 1px;
    color: #fff;
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
    list-style: none;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}
nav .links a:hover {
    color: white;
}
nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
nav .links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: white;
}
#nav-toggle {
     position: absolute;
     top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.banner{
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 250px 0;
    position: relative;
    z-index: 0;
}
.howtoplay_banner{
    background-image: url(../images/how_to_play_two.webp);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 250px 0;
    position: relative;
    z-index: 0;
}
.banner::after
{
    position: absolute;
    content: '';
    background-color: #0000007d;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.banner h1{
    color: #fff;
}
.banner p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}
.inner_banner {
    padding: 20px;
}
.banner h1 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
}
.mobile_number_div {
    display: flex;
    align-items: center;
}
.mobile_number_div a {
    width: 280px;
    padding: 15px 10px;
    height: 20px;
    background: #37003c;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.mobile_number_div input {
    width: 280px;
    padding: 15px 10px;
    height: 20px;
    text-align: center;
    text-decoration: none;
}
.padding{
    padding:80px 0;
}
.leagues_heading {
    text-align: center;
    margin-bottom: 50px;
}

.leagues_heading h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #37003c;
}
.leagues_heading span {
    color: #9f00ad;
}
.fantasy_card_wrapper {
    display: flex;
    justify-content: space-between;
}
.como_card {
    background: #fff;
    text-align: center;
    width: 24%;
    height: 300px;
    box-shadow: 0 0 30px rgba(32, 32, 32, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.como_card h4 {
    font-size: 22px;
    font-weight: 600;
}
.como_card img {
    width: 100%;
    max-width: 80px;
    animation: zoom-in-zoom-out 3s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.fantasy_sports_inner{
    display: flex;
    align-items: center;
}
.left_sports {
    width: 50%;
}
.right_sports {
    width: 50%;
}
.fantasy_sports img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.common_btn {
    background: #37003c;
    padding: 12px 20px;
    color: #fff;
    text-decoration: unset;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.4s;
}
.left_sports p {
    margin-bottom: 40px;
    line-height: 28px;
}
.left_sports h2 {
    font-size: 36px;
    color: #37003c;
    margin-bottom: 20px;
}
/* .left_sports p {
    color: #fff;
}
.left_sports .common_btn {
    background:#fff ;
    color: #37003c;
} */
.fantasy_sports {
    background: #37003c47;
}
.inner_about_us {
    display: flex;
    align-items: center;
}

.left_about {
    width: 50%;
}

.right_about {
    width: 100%;
    text-align: center;
}

.left_about img {
    width: 100%;
    border-radius: 10px;
}
.right_about p {
    line-height: 26px;
}
.right_about h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}
.about_us .mobile_number_div {
    justify-content: center;
    margin-top: 40px;
}
.wrapab {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* padding: 30px; */
}
.wrapab .left_ab_wrap {
    width: 50%;
    padding: 10px;
    text-align: center;
}
.wrapab .right_ab_wrap {
    width: 50%;
    overflow: hidden;
}
.about_bottom .container .wrapab:nth-child(2){
flex-direction: row-reverse;
}
.about_bottom .container .wrapab:nth-child(4){
    flex-direction: row-reverse;
    }
    .about_bottom img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-left: 40px;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .about_bottom img:hover {
 margin-left: 0;
    }
    
    
    .left_ab_wrap h3 {
        font-size: 36px;
        color: rgb(254 224 0);
        margin-bottom: 20px;
        border-bottom: 2px solid #fee000;
        display: inline-block;
    }
    .left_ab_wrap p {
        line-height: 28px;
        color: #fff;
    }
    .top_line_h2 {
        padding-top: 150PX;
    }
    .how_to_play h3 {
        color: #fee000;
        text-transform: uppercase;
        font-size: 20px;
     
    }
    .how_to_play p{
        line-height: 25px;
        font-size: 17px;
        color: #fff;
        margin-bottom: 0;
    }
    .how_to_play li{
        line-height: 25px;
        font-size: 17px;
        color: #fff;
    }
    .privacy_wrap h4 {
        color: #fee000;
        font-size: 20px;
        text-transform: uppercase;
    }
    .privacy_area p {
        line-height: 25px;
        font-size: 17px;
        COLOR: #FFF;
    }
    .privacy_area li {
        line-height: 25px;
        font-size: 17px;
        COLOR: #FFF;
    }
    
  
    .about_us 
    {
        background-image: url(../images/how_to_play_img.jpg);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        background-position: center;
        background-attachment: fixed;
    }
    .right_about p {
        color: #fff;
    }
    .about_us::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #0000008f;
        top: 0;
        z-index: -1;
    }

    .social_footer ul {
        display: flex;
        justify-content: center;
    }
    .social_footer ul li {
        margin: 0 20px;
        list-style: none;
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 600;
    }
    .social_footer ul li a {
        text-decoration: none;
        display: inline-block;
        padding: 1em;
        font-size: 15px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        text-decoration: none;;
        text-transform: uppercase;
        transition: all 0.4s;
    }

    .social_footer ul li a:hover {
        text-decoration: underline;
    }
    .footer{
        background: #37003c;
    }
    .fantasy_sports {
        background: #fee000;
    }
    nav .logo a {
        color: #fff;
        text-decoration: none;
    }
    .logo_footer .logo a {
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        letter-spacing: 1px;
    }
    .logo_footer .logo {
        margin-bottom: 30px;
        text-align: center;
    }
    .social_icon ul li {
        margin: 0 10px;
        list-style: none;
    }
    .social_icon ul li a {
        margin: 0 10px;
        list-style: none;
        background: transparent;
        padding: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s;
    }
    .social_icon ul {
        display: flex;
        justify-content: center;
    }
    
    .social_icon ul li .one_icon {
        background: linear-gradient(30deg, #f38334, #da2e7d 50%, #6b54c6);
    }
    .social_icon ul li .two_icon {
        background: #1877f2!important;

    }
    .social_icon ul li .three_icon {
        background: #000!important;
    }
    .social_icon ul li .four_icon {
        background: #0a66c2!important;
    }
    .social_icon {
        margin-top: 30px;
    }
    .common_btn:hover {
        background: #fff;
        color: #37003c;
    }
    .social_icon ul li a:hover {
        margin-top: 10px;
    }
    .social_icon ul {

        padding-left: 0;
    }
    .social_footer ul {
        padding-left: 0;
    }
    .how_to_p {
        margin-top: 0;
        padding-top: 75px;
    }
    .top_line_h2 h2 {
        font-size: 32px;
        color: #fff;
    }
    .how_to_play{
        background-image: url(../images/bg_hd.jpg);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        background-position: center;
        padding-bottom: 75px;
    }
    .how_to_play::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #00000091;
        top: 0;
        z-index: -1;
    }
    .last_pri_area {
        padding-bottom: 75px;
    }
    .privacy_area_wrap{
        background-image: url(../images/PRIVACY_GROUND.jpg);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        background-position: center;
    }
    .privacy_area_wrap::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #000000c2;
        top: 0;
        z-index: -1;
    }
  

    .about_bottom{
        background-image: url(../images/professional-baseball-players.jpg);
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        background-position: center; 
    }
    .about_bottom::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #000000d9;
        top: 0;
        z-index: -1;
    }
    .active_clr{
        color: #fee000!important;
    }
    .mobile_number_div input:focus-visible {
        outline: unset;
    }
    .privacy_wrap h6 {
        color: #fff;
        font-size: 16px;
    }
    li.last_email_contact_li {
        text-align: center;
        color: #fff;
        font-size: 15px!important;
        font-weight: 500!important;
        text-transform: uppercase!important;
    }
    .text-center{
        text-align: center;
    }